body{
	margin: 0;
	padding: 0;
	background-color: #F3F3F3;
}

h1{
	text-align: center;
	font-family: "Garamond", "Georgia", serif;
}
.navigationbar ul{
	list-style-type: none;
	background-color: #FD9F7D;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}
.navigationbar a{
	color: #FFFFFF;
	text-decoration: none;
	padding: 15px;
	display: block;
	text-align: center;
}
.navigationbar a:hover{
	background-color: #FA916B;
}
.navigationbar li{
	float: left;
	font-family: "Arial", "Verdana", sans-serif;
	font-weight: bold;
	font-size: 20px;
}
#search form{
	float: right;
	margin-top: 10px;
	margin-right: 40px;
}
#search form{
	background-color: #FFFFFF;
	width: 300px;
	height; 50px;
	display: flex;
}
#search form input{
	flex: 1;
	border: none;
	outline: none;
}
#search form button{
	background-color: #FF7F50;
	padding: 10px 50px;
	border: none;
	outline: none;
	color: #FFFFFF;
	letter-spacing: 1px;
	cursor: pointer;
}

#search form button:hover{
	 background-color: #FF6347;
}

h2{
	font-family: "Garamond", "Georgia", serif;
	font-size: 30px;
	text-align: center;
}

.row{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}
.column{
	width: 400px;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
}

.column:hover{
	background-color: #E4E4E4;
}

.figure{
	border: 1px #CCCCCC solid;
	padding: 4px;
	margin: auto;
}

.figcaption{
	background-color: #000000;
	color: #FFFFFF;
	font-family: "Garamond", "Georgia", serif;
	font-size: 20px;
	padding: 2px;
	text-align: center;
}

.contact-info {
    margin-top: 20px;
	text-align: center;
    background-color: #333;
    color: white;
    padding: 20px 0;
}

.contact-info p {
    margin: 5px 0;
}

.contact-info p:first-child {
    margin-top: 0;
}